@model IEnumerable<OracleMVCTest.Models.STAFF>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STAFF_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAFF_DESIGNATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAFF_TYPE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STAFF_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAFF_DESIGNATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAFF_TYPE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STAFF_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.STAFF_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STAFF_ID })
        </td>
    </tr>
}

</table>
