@model IEnumerable<OracleMVCTest.Models.SESSION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVITy.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM.ROOM_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.START_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVITy.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM.ROOM_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SESSION_CODE }) |
            @Html.ActionLink("Details", "Details", new { id=item.SESSION_CODE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SESSION_CODE })
        </td>
    </tr>
}

</table>
